*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Nunito', sans-serif;
    transition: all .2s linear;

}

html{
    font-size: 62.5%;
}

/**this code is from the catalogue index css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');



.hero{
    min-height: 100vh;
    position: relative;
}

.hero video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
    
/*--------------------presentation-----------*/

.presentacion{
    padding-top: 12rem;
    padding: 9rem;
    background-color: #09F;
    width: 100%;
    height: 75vh;
}

/* ------------some waves here for testing it------------

.wave-container {
    position: relative;
    background: #09F;
    color: #fff;;
    text-align: center;
    overflow: hidden;
  }

  .wave-container > svg {
    display: block;
  }

  
--------------------------------------*/

.presentacion .profile img {
    width: 24rem;
    border-radius: 50%;
}

.presentacion .profile{
    display: flex;
    padding-bottom: 0;
}

.presentacion h2{
    padding: 3rem 2rem;
    font-size: 5rem;
    color: white;
}

.presentacion p {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem;
}

.some-info{
    padding-top: 0px;
}

.some-info h1{
    font-size: 3.5rem;
    
}
.some-info{
    text-align: center;
    justify-content:center;   
    width: 100%;
    height: 55vh;
    
    padding: 5%;
}
.some-info p{

    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding: 5%;
   }
/*----------------- types of products-------------------------*/


.wave-container svg{
    margin: 0px;
    padding:  0px;
    object-fit: cover;

}
.types-of-products{
    background-color: #09F;
    text-align: center;
    width: 100%;
    height: 55vh;
    justify-content: center;
    padding: 5%;
    }

.types-of-products .title{
    font-size: 3.5rem;
}

.types-of-products p{
    font-size: 25px;
    justify-content: center;
    padding: 5%;

}



@media screen and (max-width: 768px) {
   
    .presentacion{
        padding-top: 12rem;
        padding: 7rem;
        background-color: #09F;
        
        height: 90vh;
    }

    .presentacion .profile img{
        width: 20rem;
        text-align: center;
    }

    .presentacion h2{
        padding: 3rem 2rem;
        font-size: 7rem;
        color: white;
    }

    .presentacion .profile{
        display: block;
        padding-bottom: 0;
    }
    
    .presentacion .profile h2{
        padding: 3rem 0;
        font-size: 3rem;
        justify-content: center;
    }

    .presentacion p {
        font-size: 2.8rem;
        text-align: center;
        padding: 3rem;
    }

    .some-info{
        height: 80vh;  
    }
    
}