/* 

ultima modificacion: 07 de septiembre del 2022

codigo transcrito y modificado por 
Jhonatan Samuel Martinez Hernandez con motivos de aprendisaje 
para la correcta visualisacion en dispositivos mobiles y 
de escritorio 

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');





*{
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

body{

    text-align:center;
    font-family: sans-serif;
}
/*
.head{
    display: flex;
    width:100%;
    height: 63px;
    background: #0C0032;
    justify-content: space-between;
    position:fixed;
    align-items:center;
    
    
    
}

.logo{
    margin-left: 30px;
}

.logo a{
    color: whitesmoke;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 20px;

}
*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;

}


.header{
    height: 80vh !important;

    background: #3500d3;;
    
    /*background: url(img/costos.jpg) no-repeat center;*/
    background-size: cover;
}



.title {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color:#ffff;
    
}

p{
    
    margin-bottom: 30px;
    font-size:18px;
    color:whitesmoke;
    padding: 0 100px;

}

.btn{

    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    border: 2px solid #0c0032;
    color: #ffff;
    text-decoration: none;
    background: #0c0032;
}

.btn:hover{
    background: #0c003261;
}

.btn-home{
    display: flex;
}

.btn-home a{

    margin:  0 10px;
}

.content{

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.gameplay{
    
    background: #262626;
}

.box-container{

    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{

    height: 11rem;
    width:17rem;
    text-align: center;
    background: #282828;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0,0, 0, .5);
    margin: 2rem;

}

.box-container .box i {

    height: 3rem;
    width:3rem;
    line-height: 3rem;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    background: #3500d3;
    
    font-size: 2 rem;
    margin: 1rem 0;
   
}

.box-container .box h3 {

    font-size: 20px;
    color:#3500d3;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about{

    background: #171717
}


.history {
    
    background-color: #101010;
    background-size:cover;
    text-align:center;
}    

/*.contact{

    padding-top: 20px;
    background: #1e1e1e;
    margin-bottom: 0px;
}*/

.map{

    height: 300px;
    width: 300px;
    margin-bottom: 20px;

}

.trailer{

    background: #101010;
    
}

/*responsive Youtube i frame*/

.video{
    /*aspect-ratio: 16/9;
    width: 100%;*/

    width: 838px;
    height: 470px;
}

@media (max-width:768px) {

    .title{

        margin-bottom: 0;
        font-size: 40px;
    }

    .gameplay{
        height: 180vh;
    }
/*Youtube i frame */
    .video{
        aspect-ratio: 16/9;
        width: 100%;
        height: 315px;
    }
    

}



/*<section class="content contact">
            <h1 class="title">Contacto</h1>
            <p>1245678765432345678</p>
            <figure class="map">
                <img src="img/mapa.png" alt="mapa img">
            </figure>
        </section>
*/
